<%- partial('common/main-header', {hideTitle: true}) %>

  <div class="container">
    <%- partial('partials/forum/section-navbar') %>
  </div>
  <div class="forum">
    <div class="container">
      <div class="forum__left-column">
        <div class="forum-item">
          <div class="forum-item__top">
            <div class="forum-item__top-left">

              <%- partial('common/svg-sprite-element', {icon: "question", cssSelector: "forum-item__main-icon"}) %>

                <div class="forum-item__vote vote">
                  <button class="vote__up"></button>
                  <div class="vote__count">113</div>
                  <button class="vote__down"></button>
                </div>

                <div class="favorit-forum-item">
                  <a href="#" class="favorit-forum-item__link" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover"
                    data-content="Добавить вопрос в избранные">
                    <%- partial('common/svg-sprite-element', {icon: "star", cssSelector: "favorit-forum-item__icon"}) %>
                  </a>
                </div>
            </div>
            <div class="forum-item__top-right">
              <h1 class="forum-item__title forum-item__title_h1">CMS replacement for ERP and eCommerce</h1>
              <div class="forum-item__after-title after-title">
                <div class="after-title__item after-title__item_sm-100">
                  <%- partial('common/svg-sprite-element', {icon: "date", cssSelector: "after-title__icon"}) %>
                    <span class="after-title__item-value">02.03.18, 14:05</span>
                </div>
                <div class="after-title__item after-title__item_with-flag">
                  <img class="after-title__country-flag" src="/assets/images/russia.png" />
                </div>
                <div class="after-title__item">
                  <%- partial('common/svg-sprite-element', {icon: "person", cssSelector: "after-title__icon"}) %>
                    <a href="#" class="after-title__item-value">Admin</a>
                </div>

                <div class="after-title__item">
                  <%- partial('common/svg-sprite-element', {icon: "eye", cssSelector: "after-title__icon"}) %>
                    <span class="after-title__item-value">19</span>
                </div>
              </div>

              <div class="forum-item__tags-list">
                <a href="#" class="forum-item__tag">Wordpress</a>
                <a href="#" class="forum-item__tag">CMS</a>
                <a href="#" class="forum-item__tag">ecommerce</a>
                <a href="#" class="forum-item__tag">Odoo</a>
              </div>

              <div class="forum-item__text forum-item__text_full">
                <%- markdown(page.content) %>
              </div>
            </div>
          </div>
          <div class="forum-item__middle">
            <a class="forum-item__share-link collapsed" data-toggle="collapse" href="#forum-item-share" role="button" aria-expanded="false" aria-controls="forum-item-share">
              <%- partial('common/svg-sprite-element', {icon: "share", cssSelector: "forum-item__share-icon"}) %>
            </a>
            <div class="forum-item__buttons-list">
              <a href="#" class="forum-item__button">
                <%- partial('common/svg-sprite-element', {icon: "reply", cssSelector: "forum-item__button-icon"}) %>
                  Ответить
              </a>
              <!-- commentforumpost-2 -->
              <a class="forum-item__button collapsed" data-toggle="collapse" href="#commentforumpost-2" role="button" aria-expanded="false" aria-controls="commentforumpost-2">
                <%- partial('common/svg-sprite-element', {icon: "chat", cssSelector: "forum-item__button-icon"}) %>
                  Комментировать
              </a>
            </div>
            <div class="forum-item__share collapse" id="forum-item-share">
              <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
              <script src="//yastatic.net/share2/share.js"></script>
              <div class="ya-share2" data-services="vkontakte,facebook,gplus,twitter,viber,whatsapp,skype,telegram"></div>
            </div>
          </div>
          <div class="forum-item__bottom">
            <div class="forum-item__footer forum-item__footer_align_flex-end">
              <a href="#" class="forum-item__footer-item-link">
                <%- partial('common/svg-sprite-element', {icon: "edit", cssSelector: "forum-item__footer-icon"}) %>
                  <span>Править</span>
              </a>
              <a href="#" class="forum-item__footer-item-link">
                <%- partial('common/svg-sprite-element', {icon: "close", cssSelector: "forum-item__footer-icon"}) %>
                  <span>Закрыть</span>
              </a>
              <a href="#" class="forum-item__footer-item-link">
                <%- partial('common/svg-sprite-element', {icon: "delete", cssSelector: "forum-item__footer-icon"}) %>
                  <span>Удалить</span>
              </a>
              <a href="#" class="forum-item__footer-item-link">
                <%- partial('common/svg-sprite-element', {icon: "warning", cssSelector: "forum-item__footer-icon"}) %>
                  <span>Пожаловаться</span>
              </a>
            </div>
          </div>
          <div class="forum-item__comments-block">
            <form class="forum-item__comment-form comment-form collapse js_website_submit_form" method="POST" id="commentforumpost-2" action="/forum/1/post/cms-replacement-for-erp-and-ecommerce-2/comment"
              aria-expanded="true">
              <textarea name="comment" class="comment-form__textarea" rows="4" placeholder="Комментировать эту публикацию..."></textarea>
              <button type="submit" class="comment-form__submit" data-oe-field="arch">Отправить</button>
            </form>
          </div>


        </div>
      </div>
      <div class="forum__right-column" id="right-column">
        <div class="panel">
          <h3 class="panel__title">Держать в курсе</h3>
          <div class="panel__body">
            <div class="form-follow js_follow" data-id="1" data-object="forum.forum" data-follow="off">
              <input type="email" name="email" class="form-follow__input js_follow_email" placeholder="Ваш email" />
              <span class="form-follow__buttons">
                <button href="#" class="form-follow__unfollow-btn js_unfollow_btn hidden">Отписаться</button>
                <button href="#" class="form-follow__follow-btn js_follow_btn">Подписаться</button>
              </span>
            </div>
          </div>
        </div>
        <div class="panel">
          <h3 class="panel__title">Об этом сообществе</h3>
          <div class="panel__body">
            <p>Это сообщество для профессионалов и энтузиастов наших продуктов и услуг. Делитесь и обсуждайте лучший контент
              и новые маркетинговые идеи, построите свой профессиональный профиль и станьте лучшим маркетологом вместе.</p>
            <a class="fa fa-arrow-right" href="/forum/1/faq"> Читать руководство</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="oe_structure"></div>